@use "../../../styles/variables";

.nav {
  padding: 0.5rem 5rem;
  z-index: 9999;
  background-color: variables.$white;
  .navContent {
    align-items: center;
    justify-content: space-between;
    max-width: 70rem;
    display: flex;
    margin: 0 auto;
    .list {
      display: flex;
      list-style-type: none;
      .list-element {
        margin-right: 3rem;
        color: variables.$lightGray;
      }
    }
  }
}
