@use "../../styles/variables";

.benefitsSection {
  padding: 0.5rem 5rem;
  background-color: variables.$bgDarkerGray;
  padding: 5rem 0;
  .innerWrapper {
    max-width: 70rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .sectionHeader {
      font-size: 2.25rem;
      font-weight: lighter;
      color: variables.$darkGray;
    }
    .subHeader {
      color: variables.$lightGray;
      max-width: 36rem;
      margin-bottom: 5rem;
      line-height: 1.5rem;
    }
    .benefits {
      display: flex;
      justify-content: space-between;
      .benefitTitle {
        font-size: 1.25rem;
      }
      .description {
        color: variables.$lightGray;
        max-width: 16rem;
        line-height: 1.5rem;
      }
    }
  }
}
