@use "../../styles/variables";

.benefitsSection {
  background-color: variables.$bgDarkerGray;
  padding: 5rem 2rem;
  .innerWrapper {
    max-width: 70rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .sectionHeader {
      font-size: 2.25rem;
      font-weight: lighter;
      color: variables.$darkGray;
      text-align: center;
      @media (min-width: 64rem) {
        text-align: left;
      }
    }
    .subHeader {
      color: variables.$lightGray;
      max-width: 36rem;
      margin-bottom: 5rem;
      line-height: 1.5rem;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      @media (min-width: 64rem) {
        text-align: left;
        margin-left: unset;
      }
    }
    .benefits {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1.5rem;
      @media (min-width: 48rem) {
        grid-template-columns: 1fr 1fr;
      }
      @media (min-width: 64rem) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      .benefitBox {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (min-width: 64rem) {
          justify-content: left;
          align-items: flex-start;
        }
        .benefitTitle {
          font-size: 1.25rem;
        }
        .description {
          color: variables.$lightGray;
          line-height: 1.5rem;
          text-align: center;
          margin-top: 0;
          @media (min-width: 64rem) {
            text-align: left;
          }
        }
      }
    }
  }
}
