---
import "../ArticlesSection/ArticlesSection.scss";
import ArticleCard from "../../components/ArticleCard/ArticleCard.astro";
---

<section class="articlesSection">
  <h2 class="sectionHeader">Latest Articles</h2>
  <div class="articlesWrapper">
    <ArticleCard
      author="Claire Robinson"
      title="Receive money in any currency with no fees"
      articleIntro="The world is getting smaller and we are becoming more mobile. So why should you be forced to only receive money in a single..."
      imageSrc=""
      imageAlt=""
    />
    <div>
      <img src="" alt="" />
      <p>By Wilson Hutton</p>
      <p>Treat yourself without worrying about money</p>
      <p>
        Our simple budgeting feature allows you to separate out your spending
        and set realistic limits each month. That means you...
      </p>
    </div>
    <div>
      <img src="" alt="" />
      <p>By William Hutton</p>
      <p>Take your easybank card wherever you go</p>
      <p>
        We want you to enjoy your travels. This is why we don't charge any fees
        on purchuases while you're abroad. We'll even show you...
      </p>
    </div>
    <div>
      <img src="" alt="" />
      <p>By Claire Robinson</p>
      <p>Our invite-only Beta accounts are now live!</p>
      <p>
        After a lot of hard work by the whole team, we're excited to launchour
        closed beta. It's easy to request an invite through the site...
      </p>
    </div>
  </div>
</section>
