@use "../../styles/variables";

.articlesSection {
  padding: 5rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: variables.$bgLightGray;
  display: grid;
  .innerWrapper {
    padding: 2rem;
    margin: 0 auto;
    max-width: 70rem;
    .sectionHeader {
      font-size: 2.25rem;
      font-weight: lighter;
      color: variables.$darkGray;
      margin-bottom: 4rem;
    }
    .articlesWrapper {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;
      @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
      }
      @media (min-width: 1024px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
}
