@use "../../styles/variables";

.articlesSection {
  padding: 0.5rem 5rem;
  padding: 5rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: variables.$bgLightGray;
  .innerWrapper {
    margin: 0 auto;
    .sectionHeader {
      font-size: 2.25rem;
      font-weight: lighter;
      color: variables.$darkGray;
      margin-bottom: 4rem;
    }
    .articlesWrapper {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
    }
  }
}
