// theme colors
$green: rgba(51, 205, 114, 1);
$blue: rgba(42, 185, 208, 1);
$lightGray: rgba(146, 141, 150, 1);
$darkGray: rgba(54, 57, 82, 1);
$bgLightGray: rgba(250, 250, 250, 1);
$white: white;

// gradients / backgrounds
$background: rgb(51, 205, 114);
$greenGradient: linear-gradient(90deg, $green 0%, $blue 72%);
