---
import Nav from "../components/Nav.astro";
import IntroSection from "../sections/IntroSection.astro";
import BenefitsSection from "../sections/BenefitsSection.astro";
import ArticlesSection from "../sections/ArticlesSection.astro";
import Footer from "../components/Footer.astro";
---

<main>
  <Nav />
  <IntroSection />
  <BenefitsSection />
  <ArticlesSection />
  <Footer />
</main>

<style></style>
