@use "../../styles/variables";

.articleCard {
  display: flex;
  flex-direction: column;
  .articleCardImage {
    border-radius: 0.3rem 0.3rem 0 0;
    width: 100%;
    max-height: 10.625rem;
    object-fit: cover;
  }
  .innerContentWrapper {
    background-color: variables.$white;
    padding: 1.5rem;
    .authorNameWrapper {
      margin-top: 0;
      font-size: 0.7rem;
      color: variables.$lightGray;
    }
    .articleIntro {
      color: variables.$lightGray;
      line-height: 1.2rem;
      font-size: 0.8rem;
    }
  }
}
