---
import "./Footer.scss";
import Button from "../../components/Button/Button.astro";
---

<footer class="footer">
  <div class="innerWrapper">
    <div class="leftColumnWrapper">
      <div class="imagesWrapper">
        <img src="../../src/images/logo-footer.svg" class="logo" />
        <div class="socialMediaWrapper">
          <img src="../../src/images/icon-facebook.svg" alt="" /><img
            src="../../../src/images/icon-youtube.svg"
            alt=""
          /><img src="../../../src/images/icon-twitter.svg" alt="" /><img
            src="../../../src/images/icon-pinterest.svg"
            alt=""
          /><img src="../../../src/images/icon-instagram.svg" alt="" />
        </div>
      </div>
      <div>
        <ul class="linkList">
          <li>
            <a class="link">Home</a>
          </li>
          <li>
            <a class="link">About</a>
          </li>
          <li>
            <a class="link">Contact</a>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <Button label="Request Invite" />
      <p class="copyRights">&copy; EasyBank. All Rights Reserved.</p>
    </div>
  </div>
</footer>

<!-- TODO FILL ALTS -->
