---
import "./Footer.scss";
import Button from "../../components/Button/Button.astro";
---

<footer class="footer">
  <div class="innerWrapper">
    <div>
      <div>
        <img src="../../../src/images/logo-footer.svg" />
        <div>
          <img src="../../../src/images/icon-facebook.svg" alt="" /><img
            src="../../../src/images/icon-youtube.svg"
            alt=""
          /><img src="../../../src/images/icon-twitter.svg" alt="" /><img
            src="../../../src/images/icon-pinterest.svg"
            alt=""
          /><img src="../../../src/images/icon-instagram.svg" alt="" />
        </div>
      </div>
      <div>
        <ul class="footerLinks">
          <li>Home</li>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </div>
    </div>
    <Button label="Request Invite" />
    <p>© EasyBank. All Rights Reserved.</p>
  </div>
</footer>

<!-- TODO FILL ALTS -->
