@use "../../styles/variables";

.footer {
  color: variables.$white;
  background-color: variables.$bgDarkBlue;
  @media (min-width: 75rem) {
    padding-bottom: 1rem;
  }
  .innerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 75rem) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    @media (min-width: 75rem) {
      max-width: 70rem;
      width: 100%;
      margin: 0 auto;
    }
    .leftColumnWrapper {
      @media (min-width: 75rem) {
        display: flex;
      }

      .imagesWrapper {
        text-align: center;
        @media (min-width: 75rem) {
          margin-right: 10rem;
        }
        .logo {
          margin-top: 3rem;
          margin-bottom: 2rem;
        }
        .socialMediaWrapper {
          display: flex;
          gap: 1rem;
          text-align: center;
          margin-bottom: 2rem;
          img {
            &:hover {
              transform: scale(1.2);
              cursor: pointer;
            }
          }
        }
      }
      .linkList {
        list-style-type: none;
        text-align: center;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2rem;
        font-size: 0.825rem;
        .link {
          cursor: pointer;
          color: variables.$grayLink;
          &:hover {
            color: variables.$green;
          }
        }
        @media (min-width: 75rem) {
          text-align: left;
          margin-top: 3rem;
        }
      }
    }

    button {
      margin: 0 auto;
      @media (min-width: 75rem) {
        margin-top: 3rem;
        margin-bottom: 2rem;
        margin-right: 0;
      }
    }
    .copyRights {
      color: variables.$lightGray;
      font-size: 0.825rem;
    }
  }
}
