---
import "./IntroSection.scss";
import Button from "../../components/Button/Button.astro";
---

<section class="introSection">
  <div class="innerWrapper">
    <div class="headerContainer">
      <h1 class="header">Next generation digital banking</h1>
      <p class="subheader">
        Take your financial life online. Your Easybank account will be a
        one-stop-shop for spending, saving, budgeting, investing, and much more.
      </p>
      <Button label="Request Invite" />
    </div>
    <div class="imagesContainer"></div>
  </div>
</section>
