---
import "./nav.scss";
import Button from "../Button/Button.astro";
import { Image } from "astro:assets";
import Logo from "../../images/logo.svg";
---

<nav class="nav">
  <div class="navContent">
    <Image src={Logo} alt="Easybank" />
    <ul class="list">
      <li class="list-element">Home</li>
      <li class="list-element">About</li>
      <li class="list-element">Contact</li>
    </ul>

    <Button label="Request Invite" />
  </div>
</nav>
