---
import "./nav.scss";
---

<nav class="nav">
  <div>Logo</div>

  <ul class="list">
    <li class="list-element">Home</li>
    <li class="list-element">About</li>
    <li class="list-element">Contact</li>
  </ul>

  <button class="button">Send Email</button>
</nav>
